.FlexContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: whitesmoke;
    margin: 0px 30px;
}

.FlexContainer div {
    width: 100%;
    margin: 1%;
  }

.active{
    -webkit-animation-name: Fade;
    -webkit-animation-duration: 1.5s;
    animation-name: Fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes Fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes Fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.inactive{
    opacity: 0.3;
}

.Text {
    font-family: Verdana, sans-serif;
    color: #f2f2f2;
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    width: 80%;
    text-align: left;
    left: 10%;
}


